@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
    width: 100vw;
    height: 100vh;
    direction: rtl;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@layer components {
    .MyBtn {
        @apply h-[49px] rounded-lg border-[1px] mt-6 bg-[#dc2626] text-white ;
    }
}